<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.gs.contract.test.staticrateplans.RatePlanStaticCancellationTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSortOnChargeCondition</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCollapseCancellationSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testDeleteCancellationAndOK</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testResetCancellationData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testExpandCancellationSection</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testDeleteCancellationAndCancel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSortOnRateType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCreateCancellationWith20DaysPriorAndAddAnother</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCreateCancellationWithZeroDaysPriorAndSave</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testEditCancellationAndCancel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSelectRecordFromSearchResults</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithCountryAndCity</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testEditCancellationWithFullStayAndUpdate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCreateCancellationWithNoShowAndAddAnother</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSortOnTravelDates</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSortOnDaytimePrior</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testHomePage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCreateCancellationWithPeakRatesAndSave</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>close</td>
<td>&nbsp;</td></tr>
</table>
