<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ba372">  <td>13/08/05 11:36:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RatePlanStaticCancellationTest.close()[pri:0, instance:com.gs.contract.test.staticrateplans.RatePlanStaticCancellationTest@143e87d]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="9ba372">  <td>13/08/05 11:36:13</td>   <td>-30546</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RatePlanStaticCancellationTest.init()[pri:0, instance:com.gs.contract.test.staticrateplans.RatePlanStaticCancellationTest@143e87d]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="9ba372">  <td>13/08/05 11:36:23</td>   <td>-20484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RatePlanStaticCancellationTest.testLogin()[pri:0, instance:com.gs.contract.test.staticrateplans.RatePlanStaticCancellationTest@143e87d]">testLogin</td> 
  <td>main@4384790</td>   <td></td> </tr>
</table>
