<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75ace1">  <td>13/07/08 18:02:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SampleTest.destroy()[pri:0, instance:com.gta.travel.test.SampleTest@7f4ced4e]">&lt;&lt;destroy</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1115337740</td>   <td></td> </tr>
<tr bgcolor="75ace1">  <td>13/07/08 18:02:05</td>   <td>-8288</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SampleTest.init()[pri:0, instance:com.gta.travel.test.SampleTest@7f4ced4e]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1115337740</td>   <td></td> </tr>
<tr bgcolor="75ace1">  <td>13/07/08 18:02:12</td>   <td>-1323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.testSample()[pri:0, instance:com.gta.travel.test.SampleTest@7f4ced4e]">testSample</td> 
  <td>main@1115337740</td>   <td></td> </tr>
</table>
