<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f8969c">  <td>13/07/08 08:46:54</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;InternalDetailsTest.initialization()[pri:0, instance:com.test.gs.InternalDetailsTest@2f7a62cb]">&gt;&gt;initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1928066032</td>   <td></td> </tr>
<tr bgcolor="f8969c">  <td>13/07/08 08:47:00</td>   <td>5267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InternalDetailsTest.EditInternalDetails()[pri:0, instance:com.test.gs.InternalDetailsTest@2f7a62cb]">EditInternalDetails</td> 
  <td>main@1928066032</td>   <td></td> </tr>
<tr bgcolor="f8969c">  <td>13/07/08 08:47:55</td>   <td>60256</td> <td>&nbsp;</td><td title="&lt;&lt;InternalDetailsTest.tearDown()[pri:0, instance:com.test.gs.InternalDetailsTest@2f7a62cb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1928066032</td>   <td></td> </tr>
</table>
