<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.gs.common.test.LoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testLogin</td>
<td>loginGroup </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.gs.contract.test.ContractSearchTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithAllStatusesExceptCancelled</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithTravelDateOneMonth</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithPropertyName</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithChannelB2B</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithCountry</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithStarRating</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithCountryAndCity</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithCity</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithProvider</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithStatusLive</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithPropertyType</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithStatusSuspended</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithChannelB2C</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testHomePage</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchModel</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithStatusCancelled</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithTravelDateOneYear</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSearchWithChannelB2B2C</td>
<td>contractSearchGroup </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
