<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ca768">  <td>13/07/31 13:54:10</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;SetUpTest.close()[pri:0, instance:com.gs.common.test.SetUpTest@1f37d13]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="8ca768">  <td>13/07/31 13:45:30</td>   <td>-520096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetUpTest.init()[pri:0, instance:com.gs.common.test.SetUpTest@1f37d13]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:45:41</td>   <td>-508909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testHomePage()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testHomePage</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="fb7565">  <td>13/07/31 13:45:40</td>   <td>-509752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLogin()[pri:0, instance:com.gs.common.test.LoginTest@161b52]">testLogin</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:48:51</td>   <td>-319210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testSearchModel()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testSearchModel</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:50:14</td>   <td>-235666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testSearchWithChannelB2B()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testSearchWithChannelB2B</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:51:21</td>   <td>-169214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testSearchWithChannelB2B2C()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testSearchWithChannelB2B2C</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:49:10</td>   <td>-300305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testSearchWithChannelB2C()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testSearchWithChannelB2C</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:46:25</td>   <td>-465457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testSearchWithCity()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testSearchWithCity</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:45:41</td>   <td>-508674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testSearchWithCountry()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testSearchWithCountry</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:46:27</td>   <td>-463425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testSearchWithCountryAndCity()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testSearchWithCountryAndCity</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:48:33</td>   <td>-336991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testSearchWithPropertyName()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testSearchWithPropertyName</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:47:21</td>   <td>-408771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testSearchWithPropertyType()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testSearchWithPropertyType</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:48:37</td>   <td>-333444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testSearchWithProvider()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testSearchWithProvider</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:52:06</td>   <td>-123700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testSearchWithStatusLive()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testSearchWithStatusLive</td> 
  <td>main@4384790</td>   <td></td> </tr>
<tr bgcolor="edbca8">  <td>13/07/31 13:53:22</td>   <td>-47858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContractSearchTest.testSearchWithStatusSuspended()[pri:0, instance:com.gs.contract.test.ContractSearchTest@177ee02]">testSearchWithStatusSuspended</td> 
  <td>main@4384790</td>   <td></td> </tr>
</table>
