<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.gta.travel.test.PropertyDetailsTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testEditAndCancel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testEditMainAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSelectPropertyFromSearchResults</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testEditMainCity</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testEditWebsiteDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testEditPostalAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testUpdateHotelName</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>destroy</td>
<td>&nbsp;</td></tr>
</table>
