<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7a9fa7">  <td>13/07/08 13:18:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PropertyDetailsTest.destroy()[pri:0, instance:com.gta.travel.test.PropertyDetailsTest@7a3d8738]">&lt;&lt;destroy</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1115337740</td>   <td></td> </tr>
<tr bgcolor="7a9fa7">  <td>13/07/08 13:16:17</td>   <td>-108990</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PropertyDetailsTest.init()[pri:0, instance:com.gta.travel.test.PropertyDetailsTest@7a3d8738]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1115337740</td>   <td></td> </tr>
<tr bgcolor="7a9fa7">  <td>13/07/08 13:16:49</td>   <td>-76535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyDetailsTest.testEditAndCancel()[pri:0, instance:com.gta.travel.test.PropertyDetailsTest@7a3d8738]">testEditAndCancel</td> 
  <td>main@1115337740</td>   <td></td> </tr>
<tr bgcolor="7a9fa7">  <td>13/07/08 13:17:00</td>   <td>-65816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyDetailsTest.testEditMainAddress()[pri:0, instance:com.gta.travel.test.PropertyDetailsTest@7a3d8738]">testEditMainAddress</td> 
  <td>main@1115337740</td>   <td></td> </tr>
<tr bgcolor="7a9fa7">  <td>13/07/08 13:17:51</td>   <td>-14172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyDetailsTest.testEditMainCity()[pri:0, instance:com.gta.travel.test.PropertyDetailsTest@7a3d8738]">testEditMainCity</td> 
  <td>main@1115337740</td>   <td></td> </tr>
<tr bgcolor="7a9fa7">  <td>13/07/08 13:17:25</td>   <td>-40221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyDetailsTest.testEditPostalAddress()[pri:0, instance:com.gta.travel.test.PropertyDetailsTest@7a3d8738]">testEditPostalAddress</td> 
  <td>main@1115337740</td>   <td></td> </tr>
<tr bgcolor="7a9fa7">  <td>13/07/08 13:17:46</td>   <td>-20048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyDetailsTest.testEditWebsiteDetails()[pri:0, instance:com.gta.travel.test.PropertyDetailsTest@7a3d8738]">testEditWebsiteDetails</td> 
  <td>main@1115337740</td>   <td></td> </tr>
<tr bgcolor="7a9fa7">  <td>13/07/08 13:16:22</td>   <td>-103146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyDetailsTest.testLogin()[pri:0, instance:com.gta.travel.test.PropertyDetailsTest@7a3d8738]">testLogin</td> 
  <td>main@1115337740</td>   <td></td> </tr>
<tr bgcolor="7a9fa7">  <td>13/07/08 13:16:27</td>   <td>-98833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyDetailsTest.testSearch()[pri:0, instance:com.gta.travel.test.PropertyDetailsTest@7a3d8738]">testSearch</td> 
  <td>main@1115337740</td>   <td></td> </tr>
<tr bgcolor="7a9fa7">  <td>13/07/08 13:16:41</td>   <td>-85035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyDetailsTest.testSelectPropertyFromSearchResults()[pri:0, instance:com.gta.travel.test.PropertyDetailsTest@7a3d8738]">testSelectPropertyFromSearchResults</td> 
  <td>main@1115337740</td>   <td></td> </tr>
<tr bgcolor="7a9fa7">  <td>13/07/08 13:16:54</td>   <td>-71941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertyDetailsTest.testUpdateHotelName()[pri:0, instance:com.gta.travel.test.PropertyDetailsTest@7a3d8738]">testUpdateHotelName</td> 
  <td>main@1115337740</td>   <td></td> </tr>
</table>
